<div class='col-md-4'>
  <div class="panel panel-default b-guest-panel js-guest-panel">
    <div class="panel-heading">
      <h3 class="panel-title"><%= I18n.t('view.groups.show.guest') %></h3>
    </div>
    <div class="panel-body">
      <div class="list-group js-guest-list">
      </div>
    </div>
  </div>
</div>