<div class='row'>
  <div class='col-md-7'>
    <%= simple_form_for @new_group, :url => groups_path do |f| %>
      <%= f.input :name %>
      <%= f.button :submit %>
    <%- end %>
  </div>
  <%= render 'groups/groups_list', groups: @groups, current: nil %>
</div>

